<%- include("partials/header") -%>

<div class="container-fluid" style="display: flex; justify-content: center; align-items: center; margin-top: 1%;">

    <div class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">

        <p><%= data.id %></p>
        <p><%= data.title %></p>
        <p>Date Added: <%= data.added %></p>
        <p>Date Modified: <%= data.modified %></p>
    
        <a class="btn btn-primary" href="https://uogguafak.omeka.net/collections/show/<%= data.id %>">View Exhibits</a>

    </div>

</div>

<%- include("partials/footer") -%>