<%- include("partials/header") -%>

<div class="container-fluid" style="display: flex; justify-content: center; align-items: center; margin-top: 1%;">

    <div class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <img src="<%= photoData[0].file_urls['thumbnail'] %>" alt="Photo" srcset="">
        <p><%= data.id %></p>

        <% for (let i = 0; i < data["element_texts"].length; i++) { %>
            <% if (data["element_texts"][i].hasOwnProperty("element")) {%>
                <% if (data["element_texts"][i]["element"].hasOwnProperty("name")) { %>
                    <% if (String(data["element_texts"][i]["element"].name.toLowerCase()) === "title") {%>
                        <p><%= data["element_texts"][i].text %></p>
                    <% } else {%>
                        <% continue; %>
                    <% } %>
                <% } %>
            <% }%>
        <% } %>

        <!-- <p><%= data["element_texts"][0].text %></p> -->
        <p>Date Added: <%= data.added %></p>
        <p>Date Modified: <%= data.modified %></p>
    
        <a class="btn btn-primary" href="https://uogguafak.omeka.net/items/show/<%= data.id %>">View Item</a>
        <a class="btn btn-primary" href="<%= photoData[0].file_urls['original'] %>">View Resource</a>
    </div>


</div>

<%- include("partials/footer") -%>