<div class="container-fluid mt-2">

    <% for (let i = 0; i < message.length; i ++) { %>
        <div class="card-body mb-2" style="background-color: #96a480; box-shadow: 1px 1px 1px black;">

            <% if (type === "Items" || type === "Collections") { %>
                
                <% if (message[i].hasOwnProperty("element_texts")) {%>
                    <% for (let j = 0; j < message[i]["element_texts"].length; j++) { %>
                        <% if (message[i]["element_texts"][j].hasOwnProperty("element")) {%>
                            <% if (message[i]["element_texts"][j]["element"].hasOwnProperty("name")) { %>
                                <% if (String(message[i]["element_texts"][j]["element"].name.toLowerCase()) === "title") {%>
                                    <h5 class="card-title"><%= message[i]["element_texts"][j].text %></h5>
                                <% } %>
                            <% } %>
                        <% }%>
                    <% } %>
                <% } %>
    

                <!-- <h5 class="card-title"><%= message[i]["element_texts"][0].text %></h5> -->
            <% } else {%>
                <h5 class="card-title"><%= message[i].title %></h5>       
            <% } %>

            <h6 class="card-subtitle mb-2 text-muted"><%= type %></h6>
            <a class="btn btn-primary" href="/entry/<%= type.toLowerCase() %>/<%=message[i].id%>">View Item</a>
        </div>
    <% } %>

</div>
<% if (message.length >= 1) { %>
    <div class="container-fluid mt-2" style="display: flex; justify-content: center; align-items: center;">

        <div class="container-fluid" style="display: flex; justify-content: center; align-items: center;">
    
                <% if (pageNumber > 1) { %>
    
                <a class="btn btn-primary" href="?&page=<%= Number(pageNumber - 1) %>">Page <%= Number(pageNumber - 1) %></a>
                
                <% } else {%>
                
                    <a class="btn btn-primary disabled" href="">Previous</a>
                
                <% } %>
    
                    <div class="px-5">
                        <p style="text-align: center;">You are on page <%= Number(pageNumber) %></p>
                        <p style="text-align: center;">Jump to:</p>
                        <input type="number" class="form-control" id="changePage"></input>
                        <input type="button" class="btn btn-primary" onclick="jumpTo(document.getElementById('changePage').value)" value="Jump"></input>
                        
                    </div>
                
                <% if (!(message.length < 10)) {%>
    
                <a class="btn btn-primary" href="?&page=<%= Number(pageNumber + 1) %>">Page <%= Number(pageNumber + 1) %></a>
    
                <% } else { %>
                
                    <a class="btn btn-primary disabled" href="">Next</a>
                
                <% } %>
    
        </div>
    
    </div>
    <script>
        function jumpTo(page) {
            
            const pageParamValue = new URLSearchParams(window.location.search).get('page');

            if (pageParamValue) {

                window.location.href = window.location.href.replace(pageParamValue, String(page)); 

            } else {

                window.location.href = `${window.location.href}?page=${String(page)}`;

            }    
        }
    </script>
    <% } else { %>

        <h1>No results for your search.</h1>

    <% } %>