<%- include("partials/header") -%>

<div class="container-fluid" id="search" style="height: 20%;">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="background-color: #6A0303; box-shadow: 2px 2px 2px black;">
            <h2 style="color: white;">Search</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="background-color: #96a480; box-shadow: 2px 2px 2px black; margin-top: 1%; padding-top: 1%; padding-bottom: 1%; height: 10%;">
            <form action="/search" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" id="searchInput" value="<%= searchQuery %>">
                </div>
                <input type="submit" value="Search" class="btn btn-primary mt-2">
            </form>
        </div>
    </div>

    <% if (paramsExist) { %>

        <%- include("searchResultEntry") -%>

        <% if (message.length >= 1) { %>
        <div class="container-fluid mt-2" style="display: flex; justify-content: center; align-items: center;">

            <div class="container-fluid" style="display: flex; justify-content: center; align-items: center;">
        
                    <% if (pageNumber > 1) { %>
        
                    <a class="btn btn-primary" href="?search=<%= searchQuery %>&page=<%= Number(pageNumber - 1) %>">Page <%= Number(pageNumber - 1) %></a>
                    
                    <% } else {%>
                    
                        <a class="btn btn-primary disabled" href="">Previous</a>
                    
                    <% } %>
        
                        <div class="px-5">
                            <p style="text-align: center;">You are on page <%= Number(pageNumber) %></p>
                            <p style="text-align: center;">Jump to:</p>
                            <input type="number" class="form-control" id="changePage"></input>
                            <input type="button" class="btn btn-primary" onclick="jumpTo(document.getElementById('changePage').value)" value="Jump"></input>
                            
                        </div>
                    
                    <% if (!(message.length < 10)) {%>
        
                    <a class="btn btn-primary" href="?search=<%= searchQuery %>&page=<%= Number(pageNumber + 1) %>">Page <%= Number(pageNumber + 1) %></a>
        
                    <% } else { %>
                    
                        <a class="btn btn-primary disabled" href="">Next</a>
                    
                    <% } %>
        
            </div>
        
        </div>
        <script>
            function jumpTo(page) {
                
                const pageParamValue = new URLSearchParams(window.location.search).get('page');

                if (pageParamValue) {

                    window.location.href = window.location.href.replace(pageParamValue, String(page)); 

                } else {

                    window.location.href = `${window.location.href}?page=${String(page)}`;

                }    
            }
        </script>
        <% } else { %>

            <h1>No results for your search.</h1>

        <% } %>
    
    <% } %>





<%- include("partials/footer") -%>